body {
  background-color: MidnightBlue;
  color: Lime;
  font-family: sans-serif;
  text-align: center;
}

.duration {
  font-size: 36px;
  margin: 0;
}

.duration-picker-label {
  margin: 8px;
}

.duration-stepper {
  background-color: MidnightBlue;
  border: 0;
  cursor: pointer;
  color: Lime;
  font-size: 36px;
  outline: 0;
  padding: 0 10px;
}

.flex-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

h1 {
  font: 60px 'Aclonica', sans-serif;
  margin-bottom: 15px;
}

h2 {
  font: 60px 'Aclonica', sans-serif;
  margin-top: 72px;
}

.timer {
  border: 4px solid #fe9900;
  border-radius: 50%;
  cursor: pointer;
  height: 350px;
  margin: auto;
  width: 350px;
}

.time {
  font-size: 72px;
}
